@{
    ViewData["Title"] = "Recipes Posted By User";
}

<div class="container">
    <div>
        <div class="p-1">
            <h4>My Recipes</h4>
        </div>
    </div>

    <div class="accordion mt-4 shadow" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <img src="assets/icons/veg_icon.png" class="img-fluid" style="width:20px;" />&nbsp;&nbsp;Some Recipe name
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show p-3" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                     <div class="row">
                         <div class="col-sm-3 mb-2" style="border-right:1px solid black">
                             <h6>Ingredients</h6>
                             <ul>
                                <li>Cumin</li>
                                <li>Cardamom</li>
                                <li>Garam masala</li>
                                <li>Turmeric</li>
                                <li>Coriander</li>
                                <li>Mustard seeds</li>
                             </ul>
                         </div>
                         
                        <div class="col-sm-8 ms-sm-2">
                            <h6>Cooking Procedure</h6>
                            <p>
                                Lorem ipsum dolor sit amet. Non consequuntur corporis vel galisum minima aut impedit quasi sit tempore assumenda est sint quisquam. Qui fugit impedit eos tempore officia et ratione voluptas id quidem illum!

                                Ut blanditiis natus est nesciunt debitis quo labore sapiente qui deleniti exercitationem ea inventore omnis aut consectetur accusantium! Vel suscipit voluptatem ea necessitatibus exercitationem qui reprehenderit rerum et rerum voluptas non labore quas in magni eius quo quia fuga.<br />

                                Nam consequatur quam sit ipsum sequi aut accusamus atque ab veritatis optio aut debitis consectetur eum expedita asperiores. Aut facere reiciendis est molestias error et maxime accusamus et ipsam aliquam ad omnis totam est quos quae aut quaerat repudiandae. Quo rerum laudantium est quidem vitae aut nobis soluta. Ad deleniti velit non facere iste est voluptas placeat ut unde error et consectetur officiis aut fugiat maxime.
                            </p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <img src="assets/icons/veg_icon.png" class="img-fluid" style="width:20px;" />&nbsp;&nbsp;Some Recipe Name #2
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse p-3" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-sm-3 mb-2" style="border-right:1px solid black">
                            <h6>Ingredients</h6>
                            <ul>
                                <li>Cumin</li>
                                <li>Cardamom</li>
                                <li>Garam masala</li>
                                <li>Turmeric</li>
                                <li>Coriander</li>
                                <li>Mustard seeds</li>
                            </ul>
                        </div>

                        <div class="col-sm-8 ms-sm-2">
                            <h6>Cooking Procedure</h6>
                            <p>
                                Lorem ipsum dolor sit amet. Non consequuntur corporis vel galisum minima aut impedit quasi sit tempore assumenda est sint quisquam. Qui fugit impedit eos tempore officia et ratione voluptas id quidem illum!

                                Ut blanditiis natus est nesciunt debitis quo labore sapiente qui deleniti exercitationem ea inventore omnis aut consectetur accusantium! Vel suscipit voluptatem ea necessitatibus exercitationem qui reprehenderit rerum et rerum voluptas non labore quas in magni eius quo quia fuga.<br />

                                Nam consequatur quam sit ipsum sequi aut accusamus atque ab veritatis optio aut debitis consectetur eum expedita asperiores. Aut facere reiciendis est molestias error et maxime accusamus et ipsam aliquam ad omnis totam est quos quae aut quaerat repudiandae. Quo rerum laudantium est quidem vitae aut nobis soluta. Ad deleniti velit non facere iste est voluptas placeat ut unde error et consectetur officiis aut fugiat maxime.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <img src="assets/icons/non_veg_icon.png" class="img-fluid" style="width:20px;" />&nbsp;&nbsp;Some Recipe Name #3
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse p-3" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-sm-3 mb-2" style="border-right:1px solid black">
                            <h6>Ingredients</h6>
                            <ul>
                                <li>Cumin</li>
                                <li>Cardamom</li>
                                <li>Garam masala</li>
                                <li>Turmeric</li>
                                <li>Coriander</li>
                                <li>Mustard seeds</li>
                            </ul>
                        </div>

                        <div class="col-sm-8 ms-sm-2">
                            <h6>Cooking Procedure</h6>
                            <p>
                                Lorem ipsum dolor sit amet. Non consequuntur corporis vel galisum minima aut impedit quasi sit tempore assumenda est sint quisquam. Qui fugit impedit eos tempore officia et ratione voluptas id quidem illum!

                                Ut blanditiis natus est nesciunt debitis quo labore sapiente qui deleniti exercitationem ea inventore omnis aut consectetur accusantium! Vel suscipit voluptatem ea necessitatibus exercitationem qui reprehenderit rerum et rerum voluptas non labore quas in magni eius quo quia fuga.<br />

                                Nam consequatur quam sit ipsum sequi aut accusamus atque ab veritatis optio aut debitis consectetur eum expedita asperiores. Aut facere reiciendis est molestias error et maxime accusamus et ipsam aliquam ad omnis totam est quos quae aut quaerat repudiandae. Quo rerum laudantium est quidem vitae aut nobis soluta. Ad deleniti velit non facere iste est voluptas placeat ut unde error et consectetur officiis aut fugiat maxime.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
