@model Recipe_Management_Frontend.Models.Recipe
@{
    ViewData["Title"] = "Recipe Name";
}

<div class="container shadow-sm p-4">
    <h2>@Model.Name &nbsp;@{
            if (Model.Category == "Veg")
            {
                <img src="assets/icons/veg_icon.png" class="img-fluid" style="width:30px;" />
            }
            else if (Model.Category == "Non-Veg")
            {
                <img src="assets/icons/non_veg_icon.png" class="img-fluid" style="width:30px;" />
            }
            }
    </h2>
            <hr />
    <div class="mt-4">
        <h5>Ingredients</h5>
        <div class="p-1 mt-3">
            @{
                foreach(var item in Model.Ingredients.Split(","))
                {
                    <span class="badge bg-info fs-6 m-2 text-capitalize">@item</span>
                }
            //<span class="badge bg-info fs-6 m-2">Cumin</span>
            //<span class="badge bg-info fs-6 m-2">Cardamom</span>
            //<span class="badge bg-info fs-6 m-2">Garam masala</span>
            //<span class="badge bg-info fs-6 m-2">Turmeric</span>
            //<span class="badge bg-info fs-6 m-2">Coriander</span>
            //<span class="badge bg-info fs-6 m-2">Mustard seeds</span>
            }
        </div>
    </div>
    <div class="mt-5">
        <h5>Cooking Procedure</h5>
        <div class="p-1">
            <p>@Model.Procedure</p>
        </div>
    </div>
</div>

