@model IEnumerable<Recipe_Management_Frontend.Models.Recipe>
@{
    ViewData["Title"] = "Recipes Posted By User";
}

<div class="container">
    <div>
        <div class="p-1">
            <h4>My Recipes</h4>
        </div>
    </div>

    <div class="accordion mt-4 shadow" id="accordionExample">
        @{
            var recipes = Model.ToList();
            for (int i=0; i < Model.Count(); i++)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_@recipes[i].Id" aria-expanded="true" aria-controls="collapseOne">
                        @{if (recipes[i].Category == "Veg")
                        {
                        <img src="assets/icons/veg_icon.png" class="img-fluid" style="width:20px;" />
                        }
                        else if (recipes[i].Category == "Non-Veg")
                        {
                        <img src="assets/icons/non_veg_icon.png" class="img-fluid" style="width:20px;" />
                        }
                        }&nbsp;&nbsp;@recipes[i].Name
                    </button>
                </h2>
                    <div id="collapseOne_@recipes[i].Id" class="accordion-collapse p-3 collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-sm-3 mb-2" style="border-right:1px solid black">
                                <h6>Ingredients</h6>
                                <ul>
                                    @foreach(var item in recipes[i].Ingredients.Split(","))
                                    {
                                        <li>@item</li>
                                    }
                                </ul>
                            </div>

                            <div class="col-sm-8 ms-sm-2">
                                <h6>Cooking Procedure</h6>
                                <p>@recipes[i].Procedure</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        }
    </div>
</div>
