@{
    ViewData["Title"] = "Index";
}
@if (TempData["errors"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show bg-danger text-white " role="alert">
        <strong>@TempData["errors"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container d-flex justify-content-center align-items-center flex-column shadow  bg-white rounded py-3  " style="max-width:350px;margin-top:60px">
    <!-- Content here -->
    <h4 class="p-3 text-center">Recipe Management System</h4>
    <form method="post" asp-action="Login" class="w-75">


        <div class="p-3 text-center">
            <input type="email" placeholder="Email Id" name="email" class=" p-2 w-100" required />
        </div>
        <div class="p-3  text-center">
            <input type="password" placeholder="Password" name="password" class="p-2 w-100 " required />
        </div>

        <div class="py-2 px-3 text-center mt-2">
            <button type="submit" class="btn btn-primary w-100">Log In</button>
        </div>
       
    </form>


</div>

