<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recipe_Management_Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Recipe_Management_Frontend.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    @{
        var token = Context.Request.Cookies["token"];
        var type = Context.Request.Cookies["type"];
    }
        @if (token != null)
        {
            <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-lg">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Receipe Management System</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                        @if(type == "admin")
                        {
                            <ul class="navbar-nav px-2">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item mx-4">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Pending requests</a>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link btn btn-sm btn-primary text-light" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-box-arrow-left"></i>&nbsp; Logout</button>
                                </li>
                            </ul>
                        }
                        else if(type=="user")
                        {
                            <ul class="navbar-nav px-2">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item mx-4">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetRecipesByUser">My Recipes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-sm btn-primary text-light" asp-controller="Auth" asp-action="LogOut"><i class="bi bi-box-arrow-left"></i>&nbsp; Logout</a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </nav>
        </header>
        }
        
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


        @if(token != null)
        {
            <footer class="border-top footer text-center text-muted">
        <div class="container">
            &copy; 2023 - Recipe Management System
        </div>
    </footer>
        }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
